<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PoeRankingTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PoeRankingTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
      <PoeRankingTracker.Properties.Settings>
        <setting name="ConfigurationLocation" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="TrackerLocation" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="LeagueId" serializeAs="String">
          <value />
        </setting>
        <setting name="AccountName" serializeAs="String">
          <value />
        </setting>
        <setting name="CharacterName" serializeAs="String">
          <value />
        </setting>
        <setting name="ConfigurationMoved" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TrackerMoved" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SessionId" serializeAs="String">
          <value />
        </setting>
        <setting name="Language" serializeAs="String">
          <value />
        </setting>
        <setting name="Template" serializeAs="String">
          <value />
        </setting>
      </PoeRankingTracker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PoeRankingTracker.Properties.Settings>
      <setting name="LeaguesPath" serializeAs="String">
        <value>leagues</value>
      </setting>
      <setting name="TimerInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="TextChangedDelay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="TemplatesPath" serializeAs="String">
        <value>Templates</value>
      </setting>
    </PoeRankingTracker.Properties.Settings>
  </applicationSettings>
</configuration>