<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POE_API_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <POE_API_client.Properties.Settings>
            <setting name="BaseUri" serializeAs="String">
                <value>https://api.pathofexile.com</value>
            </setting>
            <setting name="LaddersPath" serializeAs="String">
                <value>ladders/{0}?accountName={1}</value>
            </setting>
            <setting name="LaddersAllPath" serializeAs="String">
                <value>ladders/{0}?offset={1}&amp;limit={2}</value>
            </setting>
            <setting name="LeaguesPath" serializeAs="String">
                <value>leagues</value>
            </setting>
        </POE_API_client.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>